<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
  <h1>Lista de nomes</h1>
  <% if(names.length > 0){ %>
    <ul>
      <% names.forEach(name => { %>
        <li><%= name %></li>
      <% })%>
    </ul>
  <%}%>
</body>
</html>